body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  box-sizing: border-box;
}
 p , h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'Poppins', sans-serif !important;

}
.active{
  color:rgb(32, 201, 151);
}
